<<<<<<< HEAD
.filterTypeTitle {
  font-size: var(--fs-150);
  margin-bottom: 1rem;
  
}

.filter:not(:last-child) {
  margin-right: 2rem;
}

.downArrow {
  margin-left: 0.5rem;
}
=======

.filterTypeTitle {
  font-size: var(--fs-150);
  margin-bottom: 1rem;
  
}

.filter:not(:last-child) {
  margin-right: 2rem;
}

.downArrow {
  margin-left: 0.5rem;
}

>>>>>>> origin/main
