.wrapper {
  width: 100%;
  /* padding-inline: 1rem; */
  justify-content: space-between;
}

.breadcrumbWrapper {
  align-items: flex-start;
}

.navText {
  font-size: var(--fs-nav-text);
}

.tcGray {
  color: var(--clr-text-gray);
}

.collectionText {
  font-size: var(--fs-225);
}

