.card {
  width: 18.4rem;
  height: 28.6rem;
  border-radius: 1.5625rem;

  background-color: white;
  box-shadow: 5px 10px 30px  rgba(0,0,0,0.05);
  padding-inline: 1rem;
  padding-block: 1.5rem;

  align-items: flex-start;
  justify-content: flex-start;

  margin-right: 2.5rem;
  margin-bottom: 2rem;
}

.cardImg {
  height: 16.7rem;
  width: 16.4rem;
}

.title {
  font-size: var(--fs-112);
  font-weight: var(--fw-medium);
  /* color: black; */
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.subtitle {
  font-size: var(--fs-80);
  color: var(--clr-text-gray);
  margin-bottom: 1rem;
}

.buttonWrapper {
  width: 100%;
  justify-content: space-between;
}

.viewMoreButton {
  border-radius: 500px;
  background-color: black;
  color: white;

  padding-block: 0.5rem;
  padding-inline: 3rem;
}

.heartButton {
  cursor: pointer;
  height: 1.625rem;
}

#header-shape-gradient {
  --color-stop: #f12c06;
  --color-bot: #faed34;
}
